# need to define IMAGE_VERSION (eg, stable)
# need to define CLUSTERID

apiVersion: v1
kind: DeploymentConfig
metadata:
  name: stuck-ebs-vols
  namespace: openshift-monitoring
  labels:
    name: stuck-ebs-vols
spec:
  replicas: 1
  selector:
    name: stuck-ebs-vols
  template:
    metadata:
      name: sre-stuck-ebs-volume
      labels:
        name: stuck-ebs-vols
    spec:
      containers:
      - name: "main"
        command: ["/usr/bin/python", "/monitor/main.py"]
        workingDir: /monitor
        ports:
        - containerPort: 8080
          protocol: "TCP"
        image: 'quay.io/jupierce/openshift-python-monitoring:$IMAGE_VERSION'
        env:
        - name: AWS_SHARED_CREDENTIALS_FILE
          value: /secrets/aws/credentials
        - name: AWS_CONFIG_FILE
          value: /secrets/aws/config
        - name: PYTHONPATH
          value: /openshift-python/packages:/support/packages
        - name: CLUSTERID
          value: $CLUSTERID
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 2
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 420
          periodSeconds: 360
          timeoutSeconds: 240
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 3
          timeoutSeconds: 240
        volumeMounts:
        - name: monitor-volume
          mountPath: /monitor
          readOnly: true
        - name: credentials-volume
          mountPath: /secrets/aws
          readOnly: true
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      serviceAccountName: sre-stuck-ebs-vols
      volumes:
      # this is the source code
      - name: monitor-volume
        configMap:
          name: stuck-ebs-vols-code
      - name: credentials-volume
        secret:
          secretName: stuck-ebs-vols-credentials-volume
  triggers:
  - type: ConfigChange
  strategy:
    type: "Recreate"
  paused: false
